.blog-body {
	background-color: white;
}

.blog h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 4rem;
	font-weight: 600;
	color: black;
}

.blog img {
	width: 100%;
}

.blog p {
	text-align: center;
	margin-top: 8px;
	color: black;
}

.blog-body .footer {
	background-color: black;
}

/*----------- Media Queries ----------*/
@media screen and (max-width: 768px) {
	.blog h1 {
		font-size: 3rem;
		font-weight: 500;
	}
}

@media screen and (max-width: 425px) {
	.blog h1 {
		font-size: 2rem;
		font-weight: 500;
	}
}

@media screen and (max-width: 320px) {
	.blog h1 {
		font-size: 1.5rem;
		font-weight: 500;
	}
}

@media screen and (max-width: 425px) {
	.blog .container {
		padding: 0;
		overflow-x: hidden;
		overflow-y: hidden;
	}
}
