:root {
	--primary-color: #fff;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	color: white;
}

/* Section showreel */
.showreel video {
	width: 100%;
}

/* Navbar */
.navbar {
	position: absolute;
	top: 0;
	width: 100vw;
}

.wrapper-logo {
	width: fit-content;
	color: var(--primary-color);
}

.wrapper-logo a {
	text-decoration: none;
	color: unset;
}

.wrapper-logo h1 {
	font-weight: 800;
	letter-spacing: 10px;
}

.wrapper-logo .sub-logo {
	display: block;
	font-size: 8px;
	font-weight: 500;
	letter-spacing: 2px;
}

.hamburger-menu {
	cursor: pointer;
}

nav {
	display: none;
}

nav.show-manu {
	/* To add new class to nav from javascript to display the  manu options */
	display: block;
}

nav {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100vh;
	left: 0;
	bottom: 0;
	background: var(--primary-color);
}

.hamburger-menu-exit {
	float: right;
	margin: 40px;
	cursor: pointer;
}

nav ul {
	font-size: 70px;
	line-height: 1.3;
	font-weight: bolder;
	position: fixed;
	left: 70px;
	bottom: 0;
	overflow: scroll;
}

nav li a {
	color: black;
}

/* Section feature-video */
.feature-video video {
	width: 100%;
}

.feature-video .row {
	margin-bottom: 22%;
}

.feature-video .text-col-wrapper {
	position: relative;
}

.feature-video .text-col-wrapper .text-wrapper {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

.feature-video .row {
	position: relative;
}

.feature-video img {
	width: 100%;
}

.feature-video .img-col-wrapper-right {
	position: absolute;
	top: 70%;
	left: 40%;
}

.feature-video .img-col-wrapper-left {
	position: absolute;
	top: 70%;
	right: 40%;
}

/* Utilities */
.container {
	max-width: 2000px;
	margin-bottom: auto;
	margin-top: 0;
	overflow: auto;
	padding: 10px 40px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}
