:root {
	--primary-color: #fff;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	color: white;
}

/*-----------Page: [index] Section showreel ----------*/
.showreel video {
	width: 100%;
}

/* Navbar */
.navbar {
	position: absolute;
	top: 0;
	width: 100vw;
}

.wrapper-logo {
	width: fit-content;
	color: var(--primary-color);
}

.wrapper-logo a {
	text-decoration: none;
	color: unset;
}

.wrapper-logo h1 {
	font-weight: 800;
	letter-spacing: 10px;
}

.wrapper-logo .sub-logo {
	display: block;
	font-size: 8px;
	font-weight: 500;
	letter-spacing: 2px;
}

.hamburger-menu {
	cursor: pointer;
}

nav {
	display: none;
}

nav.show-manu {
	/* To add new class to nav from javascript to display the  manu options */
	display: block;
}

nav {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100vh;
	left: 0;
	bottom: 0;
	background: var(--primary-color);
}

.hamburger-menu-exit {
	float: right;
	margin: 40px;
	cursor: pointer;
}

nav ul {
	font-size: 70px;
	line-height: 1.3;
	font-weight: bolder;
	position: fixed;
	left: 70px;
	bottom: 0;
	overflow: scroll;
}

nav li a {
	color: black;
}

/* Section feature-video */
.vidcontainer iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.feature-video .row {
	margin-bottom: 22%;
}

.feature-video .text-col-wrapper {
	position: relative;
}

.feature-video .text-col-wrapper .text-wrapper {
	position: absolute;
	top: 40%;
	right: 50%;
	transform: translate(50%, -50%);
}

.feature-video .row {
	position: relative;
}

.feature-video img {
	width: 100%;
}

.feature-video .img-col-wrapper-right {
	position: absolute;
	top: 70%;
	left: 40%;
}

.feature-video .img-col-wrapper-left {
	position: absolute;
	top: 70%;
	right: 40%;
}

/*---------- Section our-work ----------*/
.our-work .heading1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 4rem;
	font-weight: 600;
}

.our-work .heading-wrapper {
	width: fit-content;
	margin: auto;
}

.our-work ul > li {
	display: inline;
	margin: 30px;
	font-size: 20px;
	font-weight: bold;
}

/* Bottom line for active headdings */
/* .heading-wrapper ul {
	position: relative;
}

.bottom-line {
	position: absolute;
	left: 27px;
	width: 48px;
	height: 3px;
	background-color: white;
	border-radius: 25px;
}

.bottom-active1 {
	transform: translate3d(0%, 0, 0);
	transition: all linear 240ms;
}

.bottom-active2 {
	transform: translate3d(133%, 0, 0);
	transition: all linear 240ms;
	width: 80px;
}

.bottom-active3 {
	transform: translate3d(167%, 0, 0);
	transition: all linear 240ms;
	width: 150px;
}

.bottom-active4 {
	transform: translate3d(580%, 0, 0);
	transition: all linear 240ms;
	width: 80px;
}

.bottom-active5 {
	transform: translate3d(508%, 0, 0);
	transition: all linear 240ms;
	width: 120px;
} */

.active {
	border-bottom: 3px solid white;
}

.our-work-video-wrapper {
	margin-top: 50px;
}

.our-work-video-wrapper .tvc,
.digital,
.documentary,
.events,
.corporate {
	display: none;
}

.our-work-video-wrapper .video-active {
	display: block;
}

.vidwrapper img {
	width: 100%;
}

.vidcontainer .embed-video {
	display: none;
}

/*---------- Section Directors ----------*/
.directors .heading1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 4rem;
	font-weight: 600;
}

.directors .col-4 {
	border-right: 3px solid white;
}

.directors .directors-name-wrapper {
	position: relative;
}

.directors .directors-name-wrapper #directors-name {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	width: fit-content;
}

.directors .col-4 ul {
	margin: 0;
	padding: 0;
	font-size: 25px;
}

.directors .col-4 ul li {
	width: fit-content;
}

.directors .col-8 {
	position: relative;
}

.directors .col-8 .wrapper-logo {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

.directors .col-8 .wrapper-logo h1 {
	font-size: 5em;
	font-weight: 800;
	letter-spacing: 10px;
}

.directors .row .col-8 {
	height: 450px;
	overflow: scroll;
}

.directors .image-box {
	width: 250px;
	margin-left: 80px;
	display: inline-block;
}

.directors .image-box img {
	width: 100%;
	height: 400px;
}

.directors .social-icon-wrapper {
	width: fit-content;
	margin-left: 155px;
	margin-top: 5px;
}

.directors .social-icon-wrapper > a {
	padding: 3px;
}

.directors .text-box {
	width: 400px;
	position: absolute;
	left: 40%;
	top: 20%;
	text-align: center;
}

/*---------- Section blog ----------*/
.blog-body {
	background-color: white;
	color: black;
}

.blog h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 4rem;
	font-weight: 600;
}

.blog img {
	width: 100%;
}

.blog p {
	text-align: center;
	margin-top: 8px;
}

/* Footer */
/* Section .clients-slider */
/* .clients-slider {
	padding-right: 40px;
} */

.clients-slider img {
	width: 100%;
}

.clients-slider .slick-slide {
	margin: 15px;
}

.slick-prev::before {
	display: none;
}

.slick-next:before {
	content: '\f054';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 50px;
	opacity: 1;
}

.slick-next {
	right: -2px;
}

.clients-slider .item:hover {
	display: block;
	transition: all ease 0.3s;
	transform: scale(1.1) translateY(-5px);
}

.clients-slider::after {
	content: '';
	background-color: var(--primary-color);
	width: 95%;
	height: 2px;
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* Section footer-menu */
.footer-menu {
	margin-top: 30px;
	/* padding: 0 50px 0 50px; */
}

.footer-menu .row > *:nth-child(2),
.footer-menu .row > *:nth-child(3),
.footer-menu .row > *:nth-child(4) {
	padding-top: 22px;
}

.footer-menu address {
	margin-top: 20px;
}

.footer-menu ul {
	padding-left: 0;
}

.footer-menu .social-icon-wrapper {
	max-width: 150px;
	margin: auto;
}

.footer-menu .social-icon-wrapper a > i {
	margin: 10px;
}

/*----- Utilities -----*/
.container {
	max-width: 2000px;
	margin-bottom: auto;
	margin-top: 0;
	overflow: auto;
	padding: 10px 40px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

.tab {
	padding-left: 4.2em;
}

/* For embed videos */
.vidwrapper {
	width: 100%;
}

.vidcontainer {
	width: 100%;
	max-width: 100%;
	height: 0;
	padding-bottom: 56.25%; /* 720/1280 */
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

.hide {
	display: none;
}
